@use "./styles/typography" as *;
@use "./styles/mixins" as *;
@use "./styles/variables" as *;

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'AvenirNextLTPro', 'Calibri', sans-serif;
}